<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://bootswatch.com/darkly/bootstrap.min.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>@ViewBag.Title</title>

</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <p>Navbar</p>
    </nav>
    <div>
        @RenderBody()
    </div>
</body>
</html>
