@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br />
<div class="section no-pad-bot" id="index-banner">
<div class="container">
    <br><br>
    
    <div class="row center">
        <h5 class="header col s12 light bio">@Html.ActionLink("PROJECTS", "GetStarredRepos", "Projects")</h5>
    </div>

    <br><br>

</div>
</div>

    



