@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="container">
        <div class="header orange-text center" style="font-size:20px;">
            <br />
            <name>ETHAN LUTS</name>
        </div>
    </div><br />

    <div class="header orange-text center" style="font-size:20px;">
        <info>
            <strong>CONTACT INFO</strong>
            <ul>
                <li>email: <a href="mailto:eluts15dev@gmail.com">eluts15dev@gmail.com</a></li>
                <li>github: <a href="https://github.com/eluts15">github.com/eluts15</a></li>
                <li>linkedin: <a href="https://www.linkedin.com/in/ethan-luts/">linkedin.com/eluts</a></li>
            </ul>
        </info>
    </div>

    <div class="header orange-text center" style="font-size:20px;">
        <skills>
            <strong>PROFESSIONAL SKILLS</strong>
            <ul>
                <li>Working Collaberativly as a Team.</li>
                <li>Developing Back-End for Web Applications.</li>
                <li>Working Knowledge of Front-End Development</li>
            </ul>

            <strong>TECHNICAL SKILLS</strong>
            <ul>
                <li>C#, ASP.NET MVC</li>
                <li>Golang</li>
                <li>CSS(3), HTML(5)</li>
                <li>Bash Scripting</li>
            </ul>
        </skills>


    </div>
</div>
