@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center orange-text">About</h1>
        <div class="row center">
            <h5 class="header col s12 light bio">Write a short bio here.</h5>
        </div>

        <br><br>

    </div>
</div>