@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section no-pad-bot" id="index-banner">
    <div class="container header center orange-text">
        <br><br>
        <h1 >About</h1>
        <div class="row center">
            <h5 class="header col s12 light bio">Loves functional programming languages like Golang. Passionate about automation, security, Unix systems, and learning new technologies.</h5>
        </div>

        <br><br>

    </div>
</div>